@model IEnumerable<WebApplication1.Models.Sale>

@{
    ViewData["Title"] = "Продажи";
}

<h1>Продажи - @ViewBag.Staff</h1>

<p>
    <a asp-controller="Staff" asp-action="Index">Возврат к списку сотрудников</a>
    <a asp-action="Create" asp-route-id="@ViewBag.StaffId">Внести данные по новой продаже</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.ShortInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
