@model IEnumerable<WebApplication1.Models.Staff>

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

<p>
    <a asp-action="Create">Внести данные по новому сотруднику</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-controller="Sales" asp-action="Index" asp-route-id="@item.StaffId">Продажи</a> |
                <a asp-action="Edit" asp-route-id="@item.StaffId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.StaffId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
