@model IEnumerable<WebApplication1.Models.Car>

@{
    ViewData["Title"] = "Автомобили";
}

<h1>Автомобили</h1>

<p>
    Производитель - @ViewBag.Manufacturer
</p>

<p>
    <a asp-controller="Manufacturers" asp-action="Index">Возврат к списку производителей</a>
    <a asp-action="Create" asp-route-id="@ViewBag.ManufacturerId">Внести данные по новому автомобилю</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePassport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehiclePassport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
